---
import Layout from "../layouts/Layout.astro";
import { fetchArticles } from "../libs/blog";

const articles = await fetchArticles();
---

<Layout title="Blog | Soham Dasgupta">
  <div
    class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 md:px-12 md:py-20 lg:px-24 lg:py-0"
  >
    <div class="flex items-center justify-between lg:pt-24">
      <span
        class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50 pb-1"
      >
        <h1>Blog</h1>
      </span>
      <a
        href="/"
        class="text-sm font-bold uppercase text-neutral-200 hover:underline"
      >
        Back
      </a>
    </div>
    <section class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 pt-16">
      {
        articles.map((article) => (
          <article class="relative group">
            <a
              data-ccursor
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Read more..."
              href={article.url}
              class="block overflow-hidden rounded-lg border border-neutral-700"
            >
              <img
                src={article.social_image}
                alt={article.title}
                class="w-full object-cover transition-transform transform group-hover:scale-105 filter brightness-75 group-hover:brightness-50"
              />
              <div class="absolute inset-0 flex items-center justify-center transition-opacity opacity-0 bg-black bg-opacity-25 group-hover:opacity-100 group-hover:bg-opacity-50">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="inline-block h-8 w-8"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </a>
          </article>
        ))
      }
    </section>
  </div>
</Layout>
